@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  gap: 100px;
background-color: rgb(189, 154, 223);
justify-content: center;
display: flex;
  height: 50px;
gap: 200px; 
  font-size: 40px;
  align-items: center;
}

.image{
  float: right;
}

.footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ddd;
  position: relative;
  float: right;


}
.footer h2 {
  margin: 0;
  font-size: 24px;
}
.footer p {
  margin: 5px 0;
  color: #555;
}



